body{
    background: #f6f6f6;
    margin: 0;
    font-family: 'Open Sans';
}

.container{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image img{
    height: 100px;
}


.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal h1,h2,h3,h4{
    margin-top: 5px;
}

