/*reglas
selectores
declaraciones
propiedades
valores */

/*header{
    background: rgb(99, 142, 192);
    color: red
}*/



/* Selector de etiqueta header - section - article - nav*
/*Selector descendente*/
/*body header div nav ol li a */

/*Selector de clase*/
/*.link*/

/*selector de id # */
/*#portafolio*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?1d5rin');
    src:  url('fonts/icomoon.eot?1d5rin#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?1d5rin') format('truetype'),
      url('fonts/icomoon.woff?1d5rin') format('woff'),
      url('fonts/icomoon.svg?1d5rin#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prtec issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }


h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong{
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.portfolio{
    background-color: #fafafa;
    margin: 0px;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-course, .project-url, .project-date{
    margin: 10px 0px;
}

.project-url a{
    text-decoration: none;
    font-size: 14px;
}

.project-url a:hover{
    text-decoration: underline;
}

 .project strong{
    font-family: 'Fjalla One';
    letter-spacing: 1px;
}

.project-title{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project-details{
    width: 50%;
}

.project-imageContainer{
    width: 50%;
}

.project-imageContainer img{
    max-width: 100%;
}

.hero{
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.hero-image{
    object-fit:cover;
}

.header{
    background-color: #1b2127;
    height: 70px;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.header a:hover{
    text-decoration: underline;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header a{
    color: white;
    text-decoration: none;
}

.box{
    width: 50px;
    height: 50px;    
    border: 1px solid red;
    margin: 1px;
    flex-shrink: 0;
}

.footer{
    color: white;
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.tec{
    margin: 1%;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    background: #f4fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tec-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tec-image{
    margin-top: 20px;
    height: 200px;
    object-fit: cover;
}

.tec-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    padding: 20px;
    text-align: center;
}
.tec-description{
    text-align: left;
}

.tec-url{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    color: #026fff;
}

.tec-url:hover{
    background-color: #056fff;
    color: white;
}

.tec-list-title{
    font-size: 30px;
    margin-left: 20px;
    text-align: center;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url(/imagenes/twitter.svg);
}

.social-link.facebook{
    background-image: url(/imagenes/facebook.svg);
    
}

.social-link.github{
    background-image: url(/imagenes/github.svg);
    
}

.social-link.linkedin{
    background-image: url(/imagenes/linkedin.png);
}


.container{
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
}
/* desktop first */

@media screen and (max-width: 1024px){
    .container{
        padding: 0 1em;
    }
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em 0;
    }
    h1{
        font-size: 2em;
        z-index: 2;
    }

    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}



.flexible-video{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.burger-buttom{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

@media screen and (max-width: 767px) {

    .burger-buttom{
        display: block;
    }

    .header{
        display: block;
        height: auto;
        position: relative;
    }
    .header ol{
        display: initial;
    }
    .header ol li{
        height: 50px;
    }
    .header a{
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: 1em;
    }
    .header .logo{
        text-align: center;
    }

    .menu{
        position: fixed;
        background: rgba(5, 111, 255, 0.9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-active{
        left: 0;
    }

    .project{
        display: block;
    }

    .project-imageContainer{
        width: auto;
        text-align: center;
    }

    .project-details{
        width: auto;
        font-size: 16px;
    }

    .project-course, .project-date, .project-url{
        margin: .3em 0;
    }

    .project-title{
        font-size: 1.7em;
        margin-bottom: .3em;
    }
    .project-url{
        font-size: .9em;
    }

    .project-course{
        font-size: 1em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-description{
        font-size: .8em;
    }

    .tec{
        width: auto;
        flex-shrink: initial;
    }

    .tec img{
        width: 100%;
    }

    .tec-detail{
        margin: -2em .5em .5em;
        padding: 1em;
    }
}

@media screen and (max-width: 480px){
    h1{
        font-size: 1.5em;
    }

    .project-details{
        width: auto;
    }
    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }

    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 1.2em;
    }
    .hero{
        padding: 2em 1em;
    }
}