/* Carousel */
.first, .second, .three{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first{
    background-image: url('/images/platzi_badges.png'); 
}

.second{
    background-image: url('/images/cobaep_login.png');
}

.three{
    background-image: url('/images/facebook-clone.png');
    background-position: top;
}

.carousel .indicators .indicator-item{
    background-color: cadetblue;
}

.carousel.carousel-slider .carousel-item h2{
    font-weight: 700;
    font-size: 30px;
}

/* Carousel fin */

/* Cards */
.card{
    min-height: 304px;
}

/* /cards */

/* Footer */

footer li.row{
    margin: 10px;
}

footer li.row a{
    margin-left: 15px;
}

/* /footer */

/* Fin del portafolio */

/* Inico de Sobremi.html */

.personal--description__title h2{
    font-weight: 700;
    font-size: 40px;
}

.personal--description__image img{
    margin: 30px 0;
    max-width: 250px;
}


.contacto{
    margin-bottom: 40px;
}

.personal--description__image img{
    height: 200px;
    width: 200px;
}

.educacion--tecnologias__tec{
    width: 200px;
    margin: 20px;
}

/* Final de sobremi */

/* Contacto */

.contacto--card.twitter, .contacto--card.github{
    margin-right: 30px;
}

.contacto--card.twitter, .contacto--card.gmail{
    margin-top: 30px;

}

.contacto--card.github, .contacto--card.linkedin{
    margin-top: 20px;
}

.contacto--card{
    display: flex;
    min-height: 110px;   
}

.contacto--card__Nombre{
    margin-bottom: 20px;
}

.contacto--card img{
    margin: 10px 30px 0;
    height: 80px;
}

/* /Contacto */